/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* tailwind utils  */
@layer components {
    .screen-hero {
      @apply bg-gradient-to-b  from-cyber-50 from-5% via-cyber-100 to-cyber-200/90;
    }
    .md_nav_link {
      @apply tracking-widest text-xs uppercase text-cyber-200 border-2 border-cyber-200 font-extrabold rounded-xl py-2 px-3 hover:scale-105 hover:shadow-lg transition ease-in-out;
    }
    .btn-primary {
      @apply text-white font-semibold px-8 py-2 tracking-wide bg-gradient-to-br from-pink-600 to-pink-400 rounded-2xl hover:shadow-md transition ease-in-out duration-100 hover:shadow-cyber-200/70
    }
  }

/* tailwind utils */
@layer utilities {
	@layer components {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no_scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no_scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}